<li>
	<div class="image" data-id="{{id}}">
    	{{image}}
	</div>
	<div class="name" data-id="{{id}}">
    	{{name}}
	</div>

	<div class="category" data-id="{{id}}">
		{{category}}
	</div>

	<div class="description" data-id="{{id}}">
		{{description}}
	</div>

	<button class="edit-post" data-id="{{this.id}}">Edit</button>
    <button class="delete-post" data-id="{{this.id}}">Delete</button>
</li>